html {
  position: relative;
  min-height: 100%;
}

body {
	min-height: 1500px;
	padding-top: 132px;
	font-family: 'Open Sans', sans-serif;
	color: #666;
  margin-bottom: 60px;
}

/* Button */

.btn {
  border-radius: 1px;
  font-size: 16px;
  height: auto;
  padding: 8px 14px;
}

.input-group-btn .btn {
  padding: 6px 12px;
  font-size: 14px;
}

.btn.icon {
  font-size: 18px;
}

.btn-primary {
  background-color: #3498db;
  border: 1px solid #3498db;
}

.btn-danger {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
}
/*
.btn-magazine-show {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}

.btn-magazine-show:focus, .btn-magazine-show:hover {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}
*/
.color-red {
  color: #e74c3c;
}

.color-blue {
  color: #3498db;
}

.container-page {
  margin-bottom: 100px;
}

.mt0 {
  margin-top: 0px;
}

.mt20 {
  margin-top: 20px;
}

.fw300 {
  font-weight: 300;
}

.fw500 {
  font-weight: 500;
}

.content-share-magazine {
  padding: 5px 15px;
  border-radius: 1px;
  color: #fff;
  text-align: left;
  width: 100px;
}

.content-share-magazine:hover {
  border-width: 1px;
  box-shadow: 
}

.content-share-magazine i {
  font-size: 22px;
}

/* Color */

.bg-color-facebook {
  background-color: #3c5898;
}

.bg-color-email {
  background-color: #666666;
}

.bg-color-twitter {
  background-color: #6aadd1;
}

.color-white {
  color: white;
}

/* Well */

.well {
  border-color: #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 1px;
  padding: 10px;
}

/* Magazine */
.magazine-visor {
  background: #454545;
  padding-bottom: 30px;
}

.title-magazine {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #e74c3c;
}
/* Small, Medium, Large*/

.content-magazine-large {
  height: 450px;
}

.content-magazine-medium {
  height: 350px;
}

.content-magazine-small {
  height: 250px;
}

.content-magazine {
  background: #44BBFA;
  border-radius: 2px;
  background-position: center center;
  overflow: hidden;
}

.content-magazine-opacity:hover {
  opacity: 0.4;
  filter: alpha(opacity=60);
}

/* Navbar */

.nav-top {
  background-color: #ecf0f1;
}

.nav-menu .navbar-nav>li>a {
	padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #7f8c8d;
}

.nav-menu .navbar-brand {
	padding: 30px 15px;
}

.nav-menu {
  margin-top:51px;
  background-color: #fff;
}

.navbar-default {
	border-bottom: 1px solid #edf0f2;
}

.navbar-default .navbar-brand {
	color: #34495e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #2c3e50;
}

.navbar-default .navbar-nav>li>a {
	color: #34495e;
}

/*Form control */

.form-control {
  border-radius: 2px;
}

/* Carousel */

.carousel-indicators {
  bottom: 10px;
}

/* Footer */
.footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #263238;
  color: #fff;
}

.footer a {
	color: #fff;
}