body {
  	min-height: 2000px;
  	padding-top: 70px;
  	color: #666;
  	font-family: 'Roboto', sans-serif;
  	font-weight: 300;
  	font-size: 16px;
}

h1, h2, h3, h4 {
	font-weight: 400;
	color: #44BBFF;
}

a {
	color: #44BBFF;
}

b, strong {
	font-weight: 400;
}

i {
	font-size: 14px;
}

/* */

.pointer {
	cursor: pointer;
}

.color-red {
	color: #e74c3c;
}
.color-blue {
	color: #3498db;
}
/*.color-green {
	color: #2ecc71;
}*/

.color-success {
	color: #66CC99;
}

.color-danger {
	color: #FC575E;
}

.bg-gray-light {
	color: #eee;
}

.mt0 {
	margin-top: 0px;
}

.m0 {
	margin: 0px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mlr5 {
	margin-left: 5px;
	margin-right: 5px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb40 {
	margin-bottom: 40px;
}

.icon {
	font-size: 18px;
}

.nav-sidebar > li > a > .icon {
	margin-right: 1px;
}

.small, small {
	color: #aaa;
}

.navbar-default {
	/* background-color: #fff; */
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
	background-color: #eee;
	color: #44BBFF;
}

.nav-sidebar > li > a {
	color: #666;
}

.nav-sidebar > li > a:hover {
	background-color: #eee !important;
}

/* Text */

.text-success {
	color: #66CC99;
}

.text-warning {
	color: #f39c12;
}

/* Table */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

/* Button */

.btn {
	border-radius: 2px;
}

.btn-success {
	background-color: #15CD72;
	border-color: #15CD72;
}
.btn-success:hover, .btn-success:focus {
	background-color: #66CC99;
	border-color: #66CC99;
}

.btn-primary {
	background-color: #3498db;
	border: 1px solid #3498db;
}
/* Form */

.form-control {
	border-radius: 1px;
	border: 1px solid #dfdfdf;
}

/* Label */

.label {
	border-radius: 2px;
	padding: 5px 7px;
	font-size: 14px;
	font-weight: 400;
}

.label-success {
	background-color: #66CC99;
}

.label-danger {
	background-color: #FC575E;
}

/* Panel */

.panel-default {
	border: 2px solid #f1f1f1;
}

/* Magazine */

.content-drag-drop-image {
	width: 100%;
	border-radius: 2px;
	border: 3px dashed #66CC99;
	padding: 96px 0;
	text-align: center;
}

.content-drag-drop-image:hover {
	background-color: #F0F1F5;
	cursor: move;
}

#content-magazine-items .content-magazine {
	cursor: move;
}

.magazine-cover-page {
	text-transform: uppercase;
	position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    width: auto;
    color: #fff;
    padding: 10px;
    font-size: 14px;
}

/* Small, Medium, Large*/

.content-magazine-large {
  height: 255px;
}

.content-magazine-medium {
  height: 150px;
}

.content-magazine-small {
  height: 80px;
}

.content-magazine {
	border: 2px solid #222;
	background: #44BBFA;
	border-radius: 1px;
	background-position: center center;
	overflow: hidden;
}

.content-magazine-opacity:hover {
  opacity: 0.4;
  filter: alpha(opacity=60);
}

.magazine-content-actions {
	position: absolute;
    bottom: 10px;
}

.content.drag-drop-image:hover {
	background-color: rgba(0, 255, 0, 0.3);
}

.content-drag-drop-image .plus-icon {
	font-size: 24px;
}

/* Message Notification */

.message-notification {
	margin: 0 auto;
	width: 200px;
	z-index: 99999;
	color: #000000;
	padding: 10px;
	text-align: center;
	position: fixed;
	top: -65px;
    left: 0;
    right: 0;
	background-color: #EBE3AA;
	box-shadow: 0px 2px 20px #888;
}

/* Well */

.well {
	margin-bottom: 0px;
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	box-shadow: none;
}